<!-- views/partials/button.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>button</title>
 
</head>
<body>
  <div>
    <button type="submit" id="formBtnContainer" class="formBtnContainer">
      <span id="formBtnText"><%= text %></span>
      <em id="formBtnLoader"></em>
    </button>
  </div>
  <div class="formPopup" id="formPopup">
    <span></span>
  </div>


<script>
  const form = document.getElementById('formpart');
  const formBtnContainer = document.getElementById('formBtnContainer');
  const formBtnText = document.getElementById('formBtnText');
  const formBtnLoader = document.getElementById('formBtnLoader');
  const formPopup = document.getElementById('formPopup');
  form.addEventListener('submit', function (e) {
    formBtnContainer.disabled = true;
    formBtnText.innerHTML = "Please wait ";
    formBtnLoader.style.display = "inline-block";
    formPopup.style.display = "flex";
  });
  </script>
</body>
</html>