<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Teacher App</title>
 
</head>
<body>
<footer class="footerpart" >
  <p>
    &copy; 2025 <%= title %> &nbsp; || &nbsp;  <a href="/logs/report">Report Logs</a> &nbsp; || &nbsp;  <a href="/api-docs" target="_blank">API documentation</a>
  </p>
</footer>
</body>
</html>