<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Teacher App</title>
   <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header class="headerpart">
    <h1><%= process.env.APP_NAME %></h1>
  </header>


</body>
</html>